
/*Card*/
.meal-card{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meal-card:hover {
    background-color: #f0f0f0;
}

.meal-card img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.meal-card p{
    margin: 10px 0 0;
    font-weight: 600;
}