/* MealDetails.css */
.titulo{
    text-align:left;
    margin-left: 20px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .titulo{
        margin-left: 530px;
    }
    
}

.titulo h2{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}
.meal-details {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.meal-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.meal-details h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.meal-details ul {
    margin: 0;
    padding-left: 20px;
}

.meal-details p {
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}

@media (min-width: 768px) {
    .instrucciones{
        grid-column: 1 / 3;
    }
}
