
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 768px) {
    .main{
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    }
    
}

.main-content {
    width: 30%;
    height: 30%;
}

.main-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.main-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 431px;
}

.title, .text{
    color: black;
    margin: 0;
}

.main-buttom{
    background-color: orangered;
    width: 100%;
}